extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .home__content
            h2.home__title ДОКУМЕНТАЛЬНЫЙ ФИЛЬМ
            .home__body
                .logo
                    .logo__title Making Off
                    .logo__img
                        img(src="img/home/burger-king-clip-art.png", alt="alt")
                .burger
                    .burger__item
                        img(src="img/home/burger/item-1.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-2.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-3.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-4.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-5.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-6.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-7.png", alt="alt")
            .home__playVideo
                .home__play
                    img(src="img/home/play.svg", alt="alt")
                .home__videoShow Посмотри наш трейлер.
    // end home

    // begin task
    section#task.task.section
        .task__content
            h2.task__title Задачи:
            .task__list
                .task__item
                    .task__number 1
                    .task__desc Укрепить знание о том, что продукция компании «Burger King» сделана из натуральных продуктов и не вредит здоровью
                .task__item
                    .task__number 2
                    .task__desc Увеличить лояльность аудитории
                .task__item
                    .task__number 3
                    .task__desc Раскрыть компанию «Burger King» как отличного работадателя
            .task__composition
                .composition
                    .composition__title Сценарий
                    .composition__subtitle Придумали концепцию разложить бургер на составляющие и показать, где и как они производятся
                    .composition__list
                        .composition__item 
                            span Lantmannen Unibake
                        .composition__item 
                            span Белая дача
                        .composition__item
                            span  Мираторг


        //- .task_smoke-1
        //-     img(src="img/task-smoke.png", alt="alt")
        //- .task_smoke-2
        //-     img(src="img/task-smoke.png", alt="alt")
        //- 


    // end task

    // begin route
    section#route.route.section
        .route__content    
            h2.route__title
                .route__titleTop Так что собираем чемоданы,
                .route__center хватаем оборудование
                .route__titleBottom и в дорогу! 


                .route__bug
                    img(src="img/route-bug.png", alt="alt")
            .moscow
                .moscow__images
                    .moscow__img
                        img(src="img/moscow1.png", alt="alt")
                    .moscow__img
                        img(src="img/moscow2.png", alt="alt")
                .route__sity.route__sity_moscow Москва
                .moscow__line


            .kislovodsk
                .kislovodsk__inner
                    .route__sity.route__sity_kislovodsk Кисловодск
                    .route__sityTitle ЗАО «Белая Дача»
                    .route__sitySubtitle Обработка и фасовка овощей (50 000 кг зелени в день)
                .kislovodsk__images
                    .kislovodsk__img
                        img(src="img/kislovodsk1.png", alt="alt")
                        span Стоимость оборудования более €500 000 
                    .kislovodsk__img
                        img(src="img/kislovodsk2.png", alt="alt")
                        span Антон Семенов - генеральный директор ЗАО “Белая Дача”
                    .kislovodsk__img
                        img(src="img/kislovodsk3.png", alt="alt")
                    .kislovodsk__img
                        img(src="img/kislovodsk4.png", alt="alt")
                    .kislovodsk__img
                        img(src="img/kislovodsk5-m.png", alt="alt")

    // end route
