extends layout/layout.pug

block content
    // begin home
    section#home.home.section.parallaxBox
        .home__content
            h2.home__title ДОКУМЕНТАЛЬНЫЙ ФИЛЬМ
            .home__body
                .logo
                    .logo__title Making Off
                    .logo__img
                        img(src="img/home/burger-king-clip-art.png", alt="alt")
                .burger
                    .burger__item.parallaxMouse(data-speed="1")
                        img(src="img/home/burger/item-1.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="0.7")
                        img(src="img/home/burger/item-2.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="0.5")
                        img(src="img/home/burger/item-3.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="0.3")
                        img(src="img/home/burger/item-4.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="0.5")
                        img(src="img/home/burger/item-5.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="0.7")
                        img(src="img/home/burger/item-6.png", alt="alt")
                    .burger__item.parallaxMouse(data-speed="1")
                        img(src="img/home/burger/item-7.png", alt="alt")
            .home__playVideo
                .home__play
                    img(src="img/home/play.svg", alt="alt" data-toggle="modal" data-target="#previwe")
                .home__videoShow Посмотри наш трейлер.
    // end home

    // begin task
    section#task.task.section
        .task__content
            h2.task__title Задачи:
            .task__list
                .task__item
                    .task__number 1
                    .task__desc Укрепить знание о том, что продукция компании «Burger King» сделана из натуральных продуктов и не вредит здоровью
                .task__item
                    .task__number 2
                    .task__desc Увеличить лояльность аудитории
                .task__item
                    .task__number 3
                    .task__desc Раскрыть компанию «Burger King» как отличного работадателя
            .task__composition
                .composition
                    .composition__title Сценарий
                    .composition__subtitle Придумали концепцию разложить бургер на составляющие и показать, где и как они производятся
                    .composition__list
                        .composition__item 
                            span Lantmannen Unibake
                            .composition__location
                        .composition__item 
                            span Белая дача
                            .composition__location
                        .composition__item
                            span  Мираторг
                            .composition__location

    // end task

    // begin route
    section#route.route.section.parallaxBox
        .route__content    
            h2.route__title
                .route__titleTop Так что собираем чемоданы,
                .route__center хватаем оборудование
                .route__titleBottom и в дорогу! 


                .route__bug.parallaxMouse(data-speed="-0.1")
                    img(src="img/route-bug.png", alt="alt")
            .moscow
                .moscow__images
                    .moscow__img.parallaxMouse(data-speed="0.5")
                        img(src="img/moscow1.png", alt="alt")
                    .moscow__img.parallaxMouse(data-speed="1")
                        img(src="img/moscow2.png", alt="alt")
                .route__sity.route__sity_moscow Москва
                .moscow__line


            .kislovodsk
                .kislovodsk__inner
                    .route__sity.route__sity_kislovodsk Кисловодск
                    .route__sityTitle ЗАО «Белая Дача»
                    .route__sitySubtitle Обработка и фасовка овощей (50 000 кг зелени в день)
                .kislovodsk__images
                    .kislovodsk__img
                        img.wow(src="img/kislovodsk1.png", alt="alt")
                        span Стоимость оборудования более €500 000 
                    .kislovodsk__img
                        img.wow(src="img/kislovodsk2.png", alt="alt")
                        span Антон Семенов - генеральный директор ЗАО “Белая Дача”
                    .kislovodsk__img
                        img.wow(src="img/kislovodsk3.png", alt="alt")
                    .kislovodsk__img
                        img.wow(src="img/kislovodsk4.png", alt="alt")
                    .kislovodsk__img
                        img.wow(src="img/kislovodsk5-m.png", alt="alt")
                .kislovodsk__line
            .kaliningrad
                .kaliningrad__inner
                    .route__sity.route__sity_kaliningrad Калининград
                    .route__sityTitle ООО «Мираторг запад»
                    .route__sitySubtitle.route__sitySubtitle_kaliningrad Производство котлет из говядины и свинины (300 000 котлет в день)
                .kaliningrad__images
                    .kaliningrad__img
                        img.wow(src="img/kaliningrad1.png", alt="alt")
                        span Не переживайте, эту котлету мы выкинули
                    .kaliningrad__img
                        img.wow(src="img/kaliningrad2.png", alt="alt")
                        span 50 000 котлет в день
                    .kaliningrad__img
                        img.wow(src="img/kaliningrad3.png", alt="alt")
                        span Денис Смирнов - директор по производству
                    .kaliningrad__img
                        img.wow(src="img/kaliningrad4.png", alt="alt")
                .kaliningrad__line
            .egorievsk
                .egorievsk__inner
                    .route__sity.route__sity_egorievsk Егорьевск
                    .route__sityTitle ООО «Lantmannen Unibake»
                    .route__sitySubtitle.route__sitySubtitle_kaliningrad Производство котлет из говядины и свинины (80 000 кг булочек в день)
                .egorievsk__content
                    .egorievsk__images
                        .egorievsk__img
                            img.wow(src="img/egorievsk1.png", alt="alt")
                        .egorievsk__img
                            img.wow(src="img/egorievsk2.png", alt="alt")
                        .egorievsk__img
                            img.wow(src="img/egorievsk3.png", alt="alt")
                            span Любой внешний деффект на булочке считается браком
                    .egorievsk__picture
                        .egorievsk__pictureItem.parallaxMouse(data-speed="0.6")
                            img(src="img/pic1.png", alt="alt")
                        .egorievsk__pictureItem.parallaxMouse(data-speed="0.8")
                            img(src="img/pic2.png", alt="alt")
                        .egorievsk__pictureItem.parallaxMouse(data-speed="1.4")
                            img(src="img/pic3.png", alt="alt")


    // end route

    // begin workDay
    section#workDay.workDay.section
        .workDay__content
            .workDay__top
                .workDay__left
                    img(src="img/face1.png", alt="alt")
                .workDay__center
                    h2.workDay__title Далее нужно показать, как работает ресторан изнутри
                    .workDay__subtitle для этого мы на 1 день устроили Дмитрия Портнягина на работу в Burger King, чтобы продемонстрировать рабочий день сотрудника
                .workDay__right
                    img(src="img/face2.png", alt="alt")

            .workDay__bottom
                .workDay__img
                    img.wow(src="img/workDay1.png", alt="alt")
                    span От посудомойщика
                .workDay__img
                    img.wow(src="img/workDay2.png", alt="alt")
                    span Раздаем листовки с генеральным директором Burger King в России
                .workDay__img
                    img.wow(src="img/workDay3.png", alt="alt")
                .workDay__img
                    img.wow(src="img/workDay4.png", alt="alt")
                    span До главного по кассе

        .workDay__bg.workDay__bg-left.wow2
        .workDay__bg.workDay__bg-right.wow2


    // end workDay

    // begin final
    section#final.final.section.parallaxBox
        .final__content
            .final__title Финальный этап
            .final__subtitle Соединяем все сюжеты в динамичную историю, добавляем архивные материалы и закадровый голос

            .rezultat
                .rezultat__wrap
                    #video
                    .rezultat__full
                        img(src="img/playVideo.svg", alt="alt")


            .final__img
                img(src="img/final-bg.png", alt="alt")
            .final__info
                .final__logo
                    img(src="img/finalLogo.png", alt="alt")
                .final__desk
                    .final__deskTitle Иван Иван Иванович
                    .final__deskSubtitle Директор по маркетингу компании Бургер Кинг
                    .final__text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenascursus sem ipsum, sed scelerisque diam fringilla eu. Phasellus commodo, magna a lobortis dictum, mi est ullamcorper justo, quis cong
                        p ue erat nunc et nisi. Proin viverra efficitur eros. Pellentesque volutpatfinibus libero, a lacinia metus lobortis eget. Vestibulum at odio ex.
                        p Duis auctor gravida ultricies. Etiam vestibulum cursus enim a lacinia.

        .final__bg.final__bg-left.parallaxMouse(data-speed="0.4")
        .final__bg.final__bg-right.parallaxMouse(data-speed="-0.4")

    // end final

    // Begin Modal previwe
    .modal.fade.play#previwe
        a(href="#" class="modal-close" data-dismiss="modal")
        .modal-dialog
            .video__wrapper
                #short-video
    // End modal previwe

    //- // Begin Modal videoModal
    //- .modal.fade.videoModal#videoModal
    //-     .modal-dialog
    //-         .modal-content
    //-             a.rezultat__close(href="#" data-dismiss="modal")
    //- 
    //- // End modal videoModal
