extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .home__content
            .home__left
                img(src="img/burger-king-clip-art-11.png", alt="alt")
            .home__right

    // end home
