extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .home__content
            h2.home__title ДОКУМЕНТАЛЬНЫЙ ФИЛЬМ
            .home__body
                .logo
                    .logo__title Making Off
                    .logo__img
                        img(src="img/home/burger-king-clip-art.png", alt="alt")
                .burger
                    .burger__item
                        img(src="img/home/burger/item-1.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-2.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-3.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-4.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-5.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-6.png", alt="alt")
                    .burger__item
                        img(src="img/home/burger/item-7.png", alt="alt")
            .home__playVideo
                .home__play
                    img(src="img/home/play.svg", alt="alt")
                .home__videoShow Посмотри наш трейлер.
    // end home

    // begin task
    section#task.task.section
        .task__content
            h2.section__title Задачи:
            .task__list
                .task__item
                    .task__number 1
                    .task__desc Укрепить знание о том, что продукция компании «Burger King» сделана из натуральных продуктов и не вредит здоровью
                .task__item
                    .task__number 2
                    .task__desc Увеличить лояльность аудитории
                .task__item
                    .task__number 3
                    .task__desc Раскрыть компанию «Burger King» как отличного работадателя
            .task__composition
                .composition
                    .composition__title Сценарий
                    .composition__subtitle Придумали концепцию разложить бургер на составляющие и показать, где и как они производятся
                    .composition__list
                        .composition__item 
                            span Lantmannen Unibake
                        .composition__item 
                            span Белая дача
                        .composition__item
                            span  Мираторг


        //- .task_smoke-1
        //-     img(src="img/task-smoke.png", alt="alt")
        //- .task_smoke-2
        //-     img(src="img/task-smoke.png", alt="alt")
        //- 


    // end task
